.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    text-align: center;
    margin:0 auto;
}

.imagen {
    flex: auto;
    width: 50%;
}

.imagen2 {
    flex: auto;
    width: 50%;
}

.imagen3 {
    flex: auto;
    width: 50%;
}

.imagen4 {
    flex: auto;
    width: 50%;
}

.texto {
    flex: auto;
    width: 50%;
}

.texto2 {
    flex: auto;
    width: 50%;
}

.texto3 {
    flex: auto;
    width: 50%;
}

.texto4 {
    flex: auto;
    width: 50%;
}

