.Kaki {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    text-align: center;
    margin:0 auto;
}

.imagen {
    flex: auto;
    width: 50%;
}

.imagen2 {
    flex: auto;
    width: 50%;
}

.imagen3 {
    flex: auto;
    width: 50%;
}

.imagen4 {
    flex: auto;
    width: 50%;
}

.texto {
    flex: auto;
    width: 50%;
    margin-top: 30px;
}

.texto2 {
    flex: auto;
    width: 50%;
    margin-top: 30px;
}

.texto3 {
    flex: auto;
    width: 50%;
    margin-top: 30px;
}

.texto4 {
    flex: auto;
    width: 50%;
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.Logo {
    text-align:  center;
}

.galeria {
    display: flex;
    justify-content: space-around;
}

.iacerca {
    float: left;
    margin: 30px;
}

.tacerca {
    text-align: justify;
    font-size: 25px;
    margin: 30px;
}